<div id="myFooter">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center my-5">
                    <li class="list-inline-item"><a href="">Conditions d'utlilisation</a></li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item"><a href="">FAQ</a></li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item"><a href="mailto:mada2roues@gmail.com">Nous contacter</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center text-secondary my-3">
                    Mada 2 Roues &copy;, 2021
                </p>
            </div>
        </div>
    </div>
</div>